<div class="container">

  <p id="notice"><%= notice %></p>

  <div class="row">
      <div class="col-md-4">
        <div class="panel panel-default">
          <div class="panel-body">
            <p>
              Temperature range:
              <label for="filter-temp-min" class="sr-only">Min:</label>
              <input type="text" id="filter-temp-min" class="filter-slider-value">
              to
              <label for="filter-temp-max" class="sr-only">Max:</label>
              <input type="text" id="filter-temp-max" class="filter-slider-value">
            </p>
            <div id="slider-temperature-range"></div>
          </div>
        </div>
      </div>
      <div class="col-md-8">
        <table id="room-list" class="table table-striped table-bordered responsive no-wrap" width="100%">
          <thead>
            <tr>
              <th>Room</th>
              <th>Description</th>
              <th>Time zone</th>
              <th>Average temperature</th>
            </tr>
          </thead>
        </table>
      </div>
    </div><!--.row-->

  </div><!--.container-->

</div>
