<div class="container">

  <p id="notice"><%= notice %></p>

  <div class="row">
      <div class="col-md-4 filter-controls">
        <div class="panel panel-default">
          <div class="panel-body">
            <p>
              Temperature range:
              <label for="filter-temp-min" class="sr-only">Min:</label>
              <input type="text" id="filter-temp-min" class="filter-slider-value">
              to
              <label for="filter-temp-max" class="sr-only">Max:</label>
              <input type="text" id="filter-temp-max" class="filter-slider-value">
              &deg;F
              <a tabindex="0" class="filter-info-button" role="button" data-toggle="popover" data-trigger="focus" data-placement="bottom" title="Temperature" data-content="A comfortable temperature range for many people is usually 68 to 74 degrees."><span class="glyphicon glyphicon-info-sign"></span><span class="sr-only">Temperature info</span></a>
            </p>
            <div id="slider-temperature-range" class="filter-slider" data-min="60" data-max="80" data-min-input-id="filter-temp-min" data-max-input-id="filter-temp-max"></div>
            <div class="filter-range-labels">
              <small class="filter-range-label filter-range-label-min">Cold</small>
              <small class="filter-range-label filter-range-label-mid">Typical</small>
              <small class="filter-range-label filter-range-label-max">Hot</small>
            </div>
          </div>
        </div>
        <div class="panel panel-default">
          <div class="panel-body">
            <p>
              Noise level:
              <label for="filter-sound-min" class="sr-only">Min:</label>
              <input type="text" id="filter-sound-min" class="filter-slider-value">
              to
              <label for="filter-sound-max" class="sr-only">Max:</label>
              <input type="text" id="filter-sound-max" class="filter-slider-value">
              dB
              <a tabindex="0" class="filter-info-button" role="button" data-toggle="popover" data-trigger="focus" data-placement="bottom" title="Sound" data-content="Less than 45 dB is pretty quiet, 45-55 dB is a normal office environment, and beyond 55 dB the noise can be distracting."><span class="glyphicon glyphicon-info-sign"></span><span class="sr-only">Sound info</span></a>
            </p>
            <div id="slider-sound-range" class="filter-slider" data-min="40" data-max="70" data-min-input-id="filter-sound-min" data-max-input-id="filter-sound-max"></div>
            <div class="filter-range-labels">
              <small class="filter-range-label filter-range-label-min">Quiet</small>
              <small class="filter-range-label filter-range-label-mid">Typical</small>
              <small class="filter-range-label filter-range-label-max">Noisy</small>
            </div>
          </div>
        </div>
        <div class="panel panel-default">
          <div class="panel-body">
            <p>
              Air quality (CO<sub>2</sub>):
              <label for="filter-co2-min" class="sr-only">Min:</label>
              <input type="text" id="filter-co2-min" class="filter-slider-value">
              to
              <label for="filter-co2-max" class="sr-only">Max:</label>
              <input type="text" id="filter-co2-max" class="filter-slider-value">
              ppm
              <a tabindex="0" class="filter-info-button" role="button" data-toggle="popover" data-trigger="focus" data-placement="bottom" title="Air Quality" data-content="Air Quality refers to the freshness vs stuffiness of the room. Anything below 1000 ppm CO2 is fairly comfortable."><span class="glyphicon glyphicon-info-sign"></span><span class="sr-only">Air Quality info</span></a>
            </p>
            <div id="slider-co2-range" class="filter-slider" data-min="0" data-max="2000" data-min-input-id="filter-co2-min" data-max-input-id="filter-co2-max"></div>
            <div class="filter-range-labels">
              <small class="filter-range-label filter-range-label-min">Fresh</small>
              <small class="filter-range-label filter-range-label-mid">Acceptable</small>
              <small class="filter-range-label filter-range-label-max">Stuffy</small>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-8">
        <table id="room-list" class="table table-striped table-bordered responsive no-wrap" width="100%">
          <thead>
            <tr>
              <th>Room</th>
              <th>Temperature</th>
              <th>Noise Level</th>
              <th>Air Quality</th>
            </tr>
          </thead>
        </table>
      </div>
    </div><!--.row-->

  </div><!--.container-->

</div>
