<div class="container">
  <div class="row">
    <h1>New Room</h1>

    <%= form_for(@room, html: { class: "form-horizontal" }) do |form| %>
      <%= render 'fields', room: @room, form: form %>
      <div class="actions col-sm-offset-2">
        <%= form.submit "Save", class: "btn btn-primary" %>
        <%= link_to 'Cancel', rooms_path, class: "btn btn-default" %>
      </div>
    <% end %>
  </div>
</div>
