// Place all the styles related to the Rooms controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

// Color steps for filters and comfort indicators
$temperature-min-color: #5544ff;
$temperature-mid-color: #eeee88;
$temperature-max-color: #ff3333;
$sound-min-color: #d3d3d3;
$sound-mid-color: #eeee88;
$sound-max-color: #ffff00;
$co2-min-color: #5544ff;
$co2-mid-color: #9999ee;
$co2-max-color: #d3d3d3;

input.filter-slider-value {
  width: 3.5em;
  font-weight: bold;
  text-align: center;
}

.filter-controls small {
  color: $gray;
}

.filter-info-button {
  color: $gray-light;
  float: right;
  margin-top: 5px;
}

.filter-range-labels {
  margin-top: 0.5em;
  display: table;
  width: 100%;
}

.filter-range-label {
  display: table-cell;
  width: 33.33%;
}

.filter-range-label-mid {
  text-align: center;
}

.filter-range-label-max {
  text-align: right;
}

#slider-temperature-range {
  background: $gray-lighter; // IE9
  background: linear-gradient(to right, $temperature-min-color 0%, $temperature-max-color 100%);
}

#slider-sound-range {
  background: $gray-lighter; // IE9
  background: linear-gradient(to right, $sound-min-color 0%, $sound-max-color 100%);
}

#slider-co2-range {
  background: $gray-lighter; // IE9
  background: linear-gradient(to right, $co2-min-color 0%, $co2-max-color 100%);
}

.filter-slider {
  border: none;
  border-radius: 0;
}

.filter-slider .ui-slider-handle {
  height: 20px;
  width: 20px;
  border-radius: 50%;
  margin-top: 1px;
  border-color: $gray-light;
  outline: none;

  &.ui-state-focus {
    border-color: $brand-primary;
    border-width: 2px;
  }
}

.filter-slider .ui-slider-range {
  border: 1px solid $gray-light;
  background: $gray; // IE9
  background: repeating-linear-gradient(135deg, $gray-light, $gray-light 25%, white 25%, white 50%) top left fixed;
  background-size: 20px 20px;
  opacity: 0.2;
}

.room-list-room-info {
  p {
    margin: 0;
  }
  small {
    color: $gray-light;
  }
}

.room-list-modality-value {
  text-align: center;

  p {
    margin: 0;
  }
  small {
    color: $gray-light;
  }

  &.modality-temperature {
    &.descriptor-cold p {
      color: $gray-lighter;
      background-color: $temperature-min-color;
    }
    &.descriptor-typical p {
      background-color: $temperature-mid-color;
    }
    &.descriptor-warm p {
      color: $gray-lighter;
      background-color: $temperature-max-color;
    }
  }

  &.modality-sound {
    &.descriptor-quiet p {
      background-color: $sound-min-color;
    }
    &.descriptor-typical p {
      background-color: $sound-mid-color;
    }
    &.descriptor-loud p {
      background-color: $sound-max-color;
    }
  }

  &.modality-co2 {
    &.descriptor-fresh p {
      color: $gray-lighter;
      background-color: $co2-min-color;
    }
    &.descriptor-acceptable p {
      background-color: $co2-mid-color;
    }
    &.descriptor-stuffy p {
      background-color: $co2-max-color;
    }
  }
}
