// Place all the styles related to the Rooms controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

input.filter-slider-value {
  width: 3em;
  font-weight: bold;
  text-align: center;
}

.filter-controls small {
  color: $gray;
}

.filter-range-map {
  display: table;
  width: 100%;
  margin-top: 10px;

  .filter-range-label {
    font-size: smaller;
    font-weight: bold;
    display: table-cell;
    width: 33.33%;
    padding: 0.2em 0.5em;
  }

  .filter-range-label-mid {
    text-align: center;
  }

  .filter-range-label-max {
    text-align: right;
  }
}


.filter-range-map-green-yellow-red {
  background: linear-gradient(to right, #00f000 0%, #f0f000 60%, #f00000 100%);

  .filter-range-label {
    color: black;
  }
}

.filter-range-map-blue-red {
  background: linear-gradient(to right, #0000f0 0%, #f00000 100%);

  .filter-range-label {
    color: white;
  }
}
